<?xml version="1.0"?>
<launch>

  <!-- Start Gazebo and load maze world -->
  <param name="use_sim_time" value="true" />
  <node pkg="ugv_course_gazebo" type="robust_gazebo_launch.py" name="gazebo_launch" output="screen" >
    <param name="launch_cmd" value="$(find ugv_course_gazebo)/launch/gazebo_world.launch world_name:=$(find ugv_course_gazebo)/worlds/maze_world.world" />
  </node>

<!-- Move Base Stuff -->
  <node pkg="move_base" type="move_base" name="move_base"> 
    <rosparam unless="$(arg load_map)" ns="global_costmap" file="$(find maze_world_navigation)/yaml/global_costmap_params.yaml" />
    <rosparam if="$(arg load_map)" ns="global_costmap" file="$(find maze_world_navigation)/yaml/global_costmap_mapping_params.yaml" />
    <rosparam ns="local_costmap" file="$(find maze_world_navigation)/yaml/local_costmap_params.yaml" />
    <rosparam ns="NavfnROS" file="$(find maze_world_navigation)/yaml/global_planner_params.yaml" />
    <rosparam ns="TrajectoryPlannerROS" file="$(find maze_world_navigation)/yaml/local_planner_params.yaml" />
    <rosparam file="$(find maze_world_navigation)/yaml/move_base_params.yaml" />
    <remap from="cmd_vel" to="/roundbot/cmd_vel" /> <!-- Should it be to="/mantis/command/" idk -->
  </node> 
<!-- Refer to hector_example ^^^ -->

  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 30"/> <!-- "Solves" the localization problem -->

  <!-- Test script -->
  <node pkg="homework5" type="test_homework5" name="test_homework5" output="screen" />

</launch>
